.cart_item {
    display: flex;
    align-items: center;
    justify-content: center;
}


.cart_product_image img {
    height: 100px;
    object-fit: cover;
}

.cart_product_details {
   margin-left: 8px;
}


.cart_added_by {
    font-size: 14px;
}

.cart_added_by a {
    font-weight: 600;

}

.cart_item_quantity input {
    width: 60px;
    height: 20px;
}


.cart_item_remove button {
    background-color: transparent;
    border: none;
    outline: none;
}